::selection {
	background: lighten($c-secondary, 5);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: $c-background;
	font-family: $f-primary;
	color: $c-primary;
	font-size: 16px;
	margin: 0 15px 15px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}
