#about {
	display: grid;
	align-items: center;
	justify-items: center;
	align-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2vw;
	min-height: 800px;
	
	p {
		line-height: 2;
		max-width: 435px;
	}

	img {
		width: 38vw;
		max-width: 435px;
		min-width: 250px;
	}

	@media (max-width: 1050px) {
		p {
			width: 38vw;
		}
	}

	@media (max-width: 850px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
		padding-top: 50px;
		p, img {
			width: 80vw;
		}
	}
}
