#about {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2vw;

	p {
		line-height: 2;
		max-width: 435px;
		padding-left: 25px;

		span {
			margin-left: -25px;
			margin-right: 10px;
		}
	}

	img {
		width: 38vw;
		max-width: 435px;
		min-width: 250px;
	}

	.blur {
		filter: blur(6px);
	}

	.fade {
		animation: fade 500ms ease-in;
	}

	@media (max-width: 1050px) {
		p {
			width: 38vw;
		}
	}

	@media (max-width: 850px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;

		p,
		img {
			width: 80vw;
		}
	}
}

@keyframes fade {
	0% {
		filter: blur(3px);
	}

	100% {
		filter: blur(0px);
	}
}
