#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 700px;
	height: 100vh;
	max-height: 900px;

	img {
		width: 75vw;
		max-width: 625px;
		padding-bottom: 20px;
	}

	p {
		font-weight: 500;
		font-size: 20px;
	}

	@media (max-width: 700px) {
		img {
			padding-bottom: 15px;
		}
	}

	@media (max-width: 490px) {
		min-height: 500px;
		img {
			padding-bottom: 10px;
		}
		p {
			font-size: 16px;
		}
	}

	@media (max-width: 320px) {
		p {
			font-size: 13px;
		}
	}
}
