#reach {
	display: grid;
	align-items: center;
	justify-items: center;
	min-height: 70vh;

	ul {
		list-style-type: none;
		margin-left: -200px;

		li {
			display: flex;
			width: 120px;
			padding: 10px;
			justify-content: space-between;

			button {
				cursor: pointer;
				background: none;
				border: none;
				padding-left: 10px;
			}	

			span, a {
				text-decoration: none;
				font-weight: 500;
				color: $c-primary;
			}
		}
	}

	@media (max-width: 1050px) {
		ul {
			margin-left: 0;
		}
	}
}
