#reach {
	display: flex;
	justify-content: center;
	flex-direction: column;

	ul {
		list-style-type: none;

		li {
			padding-bottom: 30px;

			a {
				text-decoration: none;
				font-weight: 500;
				color: $c-primary;
			}
		}
	}

	@media (max-width: 500px) {
		min-height: 500px;
	}
}
