#skills {
	display: grid;
	align-items: center;
	padding-top: 30px;

	#skills-set {
		display: grid;
		grid-template-columns: repeat(2, 300px);
		grid-gap: 30px;

		li {
			h4 {
				padding-bottom: 15px;
			}

			ul {
				padding-left: 15px;
				li {
					padding-bottom: 15px;
				}
			}
		}
	}

	@media (max-width: 1050px) {
		#skills-set {
			justify-items: center;
		}
	}

	@media (max-width: 650px) {
		padding-top: 110px;

		#skills-set {
			grid-template-columns: repeat(1, 300px);
		}
	}
}

#skills #skills-set li ul li {
	.base,
	.progress {
		width: 200px;
		height: 7px;
	}
	.base {
		margin-top: 10px;
		background: $c-grey;

		.progress {
			background: $c-secondary;

			// frontend
			&.html {
				width: 170px;
			}
			&.css {
				width: 160px;
			}
			&.react {
				width: 140px;
			}
			&.vue {
				width: 160px;
			}
			&.service-workers {
				width: 140px;
			}

			// languages
			&.javascript {
				width: 170px;
			}
			&.typescript {
				width: 150px;
			}
			&.python {
				width: 160px;
			}

			// backend
			&.nodejs {
				width: 150px;
			}
			&.graphql {
				width: 120px;
			}
			&.docker {
				width: 140px;
			}
			&.mongodb {
				width: 150px;
			}
			&.postgresql {
				width: 140px;
			}

			// tools
			&.figma {
				width: 170px;
			}
			&.git {
				width: 160px;
			}
			&.vscode {
				width: 160px;
			}

			// others
			&.linux {
				width: 140px;
			}
			&.vim {
				width: 160px;
			}
		}
	}
}
