:root {
  --light-default: #19253d;
  --light-primary: #2a6cea;
  --light-neutral: #dee3ee;
  --light-surface: #fcfcfc;

  --dark-default: #dddddd;
  --dark-primary: #759de8;
  --dark-neutral: #2e3748;
  --dark-surface: #0f1727;
}

:root {
  color-scheme: light;
  --default: var(--light-default);
  --primary: var(--light-primary);
  --neutral: var(--light-neutral);
  --surface: var(--light-surface);
}

[color-scheme='light'] {
  color-scheme: light;
  --default: var(--light-default);
  --primary: var(--light-primary);
  --neutral: var(--light-neutral);
  --surface: var(--light-surface);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --default: var(--dark-default);
    --primary: var(--dark-primary);
    --neutral: var(--dark-neutral);
    --surface: var(--dark-surface);
  }
}

[color-scheme='dark'] {
  color-scheme: dark;
  --default: var(--dark-default);
  --primary: var(--dark-primary);
  --neutral: var(--dark-neutral);
  --surface: var(--dark-surface);
}
