---
import { H1, H2, Link, List, ListItem, Text } from '@/components'
import { constants } from '@/config'
import Page from '@/layouts/page.astro'
---

<Page
  title="Projects | Omar Elhawary"
  description="Some personal projects and tools"
  keywords="projects, tools, web, software, development"
  image="/images/cover.png"
  type="website"
>
  <H1>Projects</H1>
  <Text class="opacity-70">Some personal projects and tools</Text>

  <H2>Personal</H2>
  <List class="list-none">
    {
      constants.projects.map(({ name, description, link, using }) => (
        <ListItem>
          <Link href={link}>{name}</Link> — <span>{description}&ensp;</span>
          <Text class="inline text-sm leading-relaxed opacity-70">{using?.join(', ')}</Text>
        </ListItem>
      ))
    }
  </List>
</Page>
